/// template mixin

@mixin template_block(
  $mix_bg: white,
  $mix_txt: $txt_main,
  $mix_accent: $txt_accent
) {
  $background: $mix_bg;
  $text: $mix_txt;
  $accent: $mix_accent;

  background-color: $mix_bg;
  padding: 25px 25px;
  * {
    text-decoration: none;
    color: $mix_txt;
  }
  a {
    color: $mix_accent;
    transition: 0.5s;
    &:hover,
    &:active {
      color: $mix_txt;
    }
  }
  a.rev {
    color: $mix_txt;
    transition: 0.5s;
    &:hover,
    &:active {
      color: $mix_accent;
    }
  }
  a.alt-dark {
    color: $mix_txt;
    &:hover,
    &:active {
      color: darken($mix_accent, 10%);
    }
  }

  a.dark {
    color: darken($mix_accent, 10%);
    &:hover,
    &:active {
      color: $mix_txt;
    }
  }
  .btn_default {
    padding: 5px 10px;
    display: inline-block;
    color: $mix_bg;
    background-color: $mix_txt;
    border: $mix_txt solid 2px;
    transition: 0.5s;
    border-radius: 5px;
    &:hover,
    &:active {
      color: $mix_txt;
      background-color: transparent;
    }
  }
  .btn_second {
    padding: 5px 10px;
    //font-weight: bold;
    color: $mix_bg;
    background-color: $mix_accent;
    border: $mix_accent solid 2px;
    transition: 0.5s;
    border-radius: 5px;
    display: inline-block;
    &:hover,
    &:active {
      color: $mix_accent;
      background-color: transparent;
    }
  }
}

/// table mixin
@mixin table(
  $mix_bg: $color_accent,
  $mix_txt: $color_second,
  $mix_accent: $color_main
) {
  .table__item {
    display: flex;
    flex-wrap: wrap;
    background: rgba($mix_bg, 0.2);
    border-bottom: 2px solid $mix_txt;
    &__col {
      padding: 5px 5px;
      color: $mix_txt !important;
      border-right: 2px solid $mix_txt;

      &:nth-child(odd) {
        background: $mix_bg;
      }

      &:last-child {
        border-right: none;
      }

      &.link-item {
        //color: $mix_accent!important;
        &:hover {
          color: $mix_accent !important;
        }
      }

      &.grow-item{
        flex-grow: 1;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

///form
@mixin form($mix_bg: white, $mix_txt: $txt_main, $mix_accent: $txt_accent) {
  input[type="text"], input[type="email"], input[type="password"], textarea, select {
    background: $mix_bg;
    border: $mix_txt 2px solid;
    color: $mix_txt;
    padding: 5px 10px;
    outline: none;
    transition: 0.3s;
    &:hover,
    &:focus {
      -webkit-box-shadow: inset 4px 0px 0px 0px $mix_txt;
      box-shadow: inset 4px 0px 0px 0px $mix_txt;
    }
    &::placeholder {
      color: $mix_txt;
      opacity: 0.8;
    }
    &:focus {
      border: $mix_txt 2px solid;
    }
  }
  textarea {
    resize: vertical;
    min-height: 200px;
  }
}

///borders
@mixin template_border($mix_name: "main", $mix_color: $color_second) {
  .border--#{$mix_name}{
    border: solid $mix_color;
  }
  .border-top--#{$mix_name}{
    border-top: solid $mix_color;
  }
  .border-bottom--#{$mix_name}{
    border-bottom: solid $mix_color;
  }
  .border-left--#{$mix_name}{
    border-left: solid $mix_color;
  }
  .border-right--#{$mix_name}{
    border-right: solid $mix_color;
  }
}