@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
ol,
ul {
  list-style-type: none;
  padding-left: 0;
}
ol li,
ul li {
  padding: 0;
}

ol {
  counter-reset: item;
}
ol li:before {
  content: counter(item) ".";
  counter-increment: item;
  margin-right: 5px;
}

ul li::before {
  content: "‧";
  margin-right: 5px;
}

.txt_cntr {
  text-align: center;
}

.txt_right {
  text-align: right;
}

.allign-right {
  text-align: right;
}

i.bx {
  color: inherit;
}

.ico-h1 i.bx {
  font-size: 32pt;
}

i.bx.ico-h1 {
  font-size: 32pt;
}

.ico-h2 i.bx {
  font-size: 26pt;
}

i.bx.ico-h2 {
  font-size: 26pt;
}

.btn_success, .btn_info {
  padding: 5px 10px;
  display: inline-block;
  color: white !important;
  background-color: #697a21;
  border: #697a21 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.btn_success:hover, .btn_info:hover, .btn_success:active, .btn_info:active {
  background-color: rgba(105, 122, 33, 0.8);
}

.btn_info {
  background-color: #2da19d;
  border: #2da19d solid 2px;
}
.btn_info:hover, .btn_info:active {
  background-color: rgba(45, 161, 157, 0.8);
}

.color-succes {
  color: #697a21 !important;
}

.color-accent {
  color: #fcdc4d !important;
}

.color-main {
  color: #c20114 !important;
}

.char-card__header h1 {
  line-height: 1;
}
.char-card__icons {
  padding-top: 15px;
}
.char-card__icons a, .char-card__icons span {
  margin-right: 0 15px;
}
.char-card__icons a .alert-icon, .char-card__icons a .alert-icon--green, .char-card__icons a .alert-icon--yellow, .char-card__icons a .alert-icon--red, .char-card__icons span .alert-icon, .char-card__icons span .alert-icon--green, .char-card__icons span .alert-icon--yellow, .char-card__icons span .alert-icon--red {
  position: absolute;
  font-size: 18px;
  right: -5px;
  top: 35px;
  background: white;
  height: 18px;
  width: 18px;
  border-radius: 100%;
}
.char-card__icons a .alert-icon--red, .char-card__icons span .alert-icon--red {
  color: #c20114;
}
.char-card__icons a .alert-icon--yellow, .char-card__icons span .alert-icon--yellow {
  color: #fcdc4d;
}
.char-card__icons a .alert-icon--green, .char-card__icons span .alert-icon--green {
  color: #697a21;
}

.switch-btn[data-toggle=true] {
  color: #697a21 !important;
}
.switch-btn[data-toggle=true]::before {
  content: "\eecb" !important;
}

.switch-btn[data-toggle=false] {
  color: #c20114 !important;
}
.switch-btn[data-toggle=false]::before {
  content: "\ec4a" !important;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 80px;
  top: 0;
  left: 0;
  background: rgba(50, 48, 49, 0.8);
  overflow-y: scroll;
}
.modal__body {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: white;
}

.modal[data-toggle=false] {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

.no-pad-top {
  padding-top: 0 !important;
}

.margin-bottom {
  margin-bottom: 25px;
}

.half-block {
  width: 50%;
  display: inline-block;
}

.float-right {
  float: right;
}

.linebox {
  display: inline-block;
}

.centered {
  margin: 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext, .tooltip .tooltiptext--bottom {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 140px;
  background-color: #323031;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 5px);
  left: 50%;
  margin-left: -70px;
}
.tooltip .tooltiptext::after, .tooltip .tooltiptext--bottom::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #323031 transparent transparent transparent;
}
.tooltip .tooltiptext--bottom {
  bottom: unset;
  top: calc(100% + 5px);
}
.tooltip .tooltiptext--bottom::after {
  top: unset;
  bottom: 100%;
  border-color: transparent transparent #323031 transparent;
}
.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext--bottom, .tooltiphover .tooltiptext--bottom {
  opacity: 1;
  visibility: visible;
}

.block--dark {
  background-color: #323031;
  padding: 25px 25px;
}
.block--dark * {
  text-decoration: none;
  color: #fcdc4d;
}
.block--dark a {
  color: white;
  transition: 0.5s;
}
.block--dark a:hover, .block--dark a:active {
  color: #fcdc4d;
}
.block--dark a.rev {
  color: #fcdc4d;
  transition: 0.5s;
}
.block--dark a.rev:hover, .block--dark a.rev:active {
  color: white;
}
.block--dark a.alt-dark {
  color: #fcdc4d;
}
.block--dark a.alt-dark:hover, .block--dark a.alt-dark:active {
  color: #e6e6e6;
}
.block--dark a.dark {
  color: #e6e6e6;
}
.block--dark a.dark:hover, .block--dark a.dark:active {
  color: #fcdc4d;
}
.block--dark .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: #323031;
  background-color: #fcdc4d;
  border: #fcdc4d solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--dark .btn_default:hover, .block--dark .btn_default:active {
  color: #fcdc4d;
  background-color: transparent;
}
.block--dark .btn_second {
  padding: 5px 10px;
  color: #323031;
  background-color: white;
  border: white solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--dark .btn_second:hover, .block--dark .btn_second:active {
  color: white;
  background-color: transparent;
}

.block {
  background-color: white;
  padding: 25px 25px;
}
.block * {
  text-decoration: none;
  color: #323031;
}
.block a {
  color: #c20114;
  transition: 0.5s;
}
.block a:hover, .block a:active {
  color: #323031;
}
.block a.rev {
  color: #323031;
  transition: 0.5s;
}
.block a.rev:hover, .block a.rev:active {
  color: #c20114;
}
.block a.alt-dark {
  color: #323031;
}
.block a.alt-dark:hover, .block a.alt-dark:active {
  color: #8f010f;
}
.block a.dark {
  color: #8f010f;
}
.block a.dark:hover, .block a.dark:active {
  color: #323031;
}
.block .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: #323031;
  border: #323031 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block .btn_default:hover, .block .btn_default:active {
  color: #323031;
  background-color: transparent;
}
.block .btn_second {
  padding: 5px 10px;
  color: white;
  background-color: #c20114;
  border: #c20114 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block .btn_second:hover, .block .btn_second:active {
  color: #c20114;
  background-color: transparent;
}

.block--accent {
  background-color: #fcdc4d;
  padding: 25px 25px;
  min-height: calc(100vh - 191.8px);
}
.block--accent * {
  text-decoration: none;
  color: #323031;
}
.block--accent a {
  color: #c20114;
  transition: 0.5s;
}
.block--accent a:hover, .block--accent a:active {
  color: #323031;
}
.block--accent a.rev {
  color: #323031;
  transition: 0.5s;
}
.block--accent a.rev:hover, .block--accent a.rev:active {
  color: #c20114;
}
.block--accent a.alt-dark {
  color: #323031;
}
.block--accent a.alt-dark:hover, .block--accent a.alt-dark:active {
  color: #8f010f;
}
.block--accent a.dark {
  color: #8f010f;
}
.block--accent a.dark:hover, .block--accent a.dark:active {
  color: #323031;
}
.block--accent .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: #fcdc4d;
  background-color: #323031;
  border: #323031 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--accent .btn_default:hover, .block--accent .btn_default:active {
  color: #323031;
  background-color: transparent;
}
.block--accent .btn_second {
  padding: 5px 10px;
  color: #fcdc4d;
  background-color: #c20114;
  border: #c20114 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--accent .btn_second:hover, .block--accent .btn_second:active {
  color: #c20114;
  background-color: transparent;
}

.block--main {
  background-color: #c20114;
  padding: 25px 25px;
}
.block--main * {
  text-decoration: none;
  color: white;
}
.block--main a {
  color: #fcdc4d;
  transition: 0.5s;
}
.block--main a:hover, .block--main a:active {
  color: white;
}
.block--main a.rev {
  color: white;
  transition: 0.5s;
}
.block--main a.rev:hover, .block--main a.rev:active {
  color: #fcdc4d;
}
.block--main a.alt-dark {
  color: white;
}
.block--main a.alt-dark:hover, .block--main a.alt-dark:active {
  color: #fbd21b;
}
.block--main a.dark {
  color: #fbd21b;
}
.block--main a.dark:hover, .block--main a.dark:active {
  color: white;
}
.block--main .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: #c20114;
  background-color: white;
  border: white solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--main .btn_default:hover, .block--main .btn_default:active {
  color: white;
  background-color: transparent;
}
.block--main .btn_second {
  padding: 5px 10px;
  color: #c20114;
  background-color: #fcdc4d;
  border: #fcdc4d solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--main .btn_second:hover, .block--main .btn_second:active {
  color: #fcdc4d;
  background-color: transparent;
}

.block--main-info {
  background-color: white;
  padding: 25px 25px;
}
.block--main-info * {
  text-decoration: none;
  color: #323031;
}
.block--main-info a {
  color: #2da19d;
  transition: 0.5s;
}
.block--main-info a:hover, .block--main-info a:active {
  color: #323031;
}
.block--main-info a.rev {
  color: #323031;
  transition: 0.5s;
}
.block--main-info a.rev:hover, .block--main-info a.rev:active {
  color: #2da19d;
}
.block--main-info a.alt-dark {
  color: #323031;
}
.block--main-info a.alt-dark:hover, .block--main-info a.alt-dark:active {
  color: #227976;
}
.block--main-info a.dark {
  color: #227976;
}
.block--main-info a.dark:hover, .block--main-info a.dark:active {
  color: #323031;
}
.block--main-info .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: #323031;
  border: #323031 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--main-info .btn_default:hover, .block--main-info .btn_default:active {
  color: #323031;
  background-color: transparent;
}
.block--main-info .btn_second {
  padding: 5px 10px;
  color: white;
  background-color: #2da19d;
  border: #2da19d solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--main-info .btn_second:hover, .block--main-info .btn_second:active {
  color: #2da19d;
  background-color: transparent;
}

.block--info {
  background-color: #2da19d;
  padding: 25px 25px;
}
.block--info * {
  text-decoration: none;
  color: white;
}
.block--info a {
  color: #fcdc4d;
  transition: 0.5s;
}
.block--info a:hover, .block--info a:active {
  color: white;
}
.block--info a.rev {
  color: white;
  transition: 0.5s;
}
.block--info a.rev:hover, .block--info a.rev:active {
  color: #fcdc4d;
}
.block--info a.alt-dark {
  color: white;
}
.block--info a.alt-dark:hover, .block--info a.alt-dark:active {
  color: #fbd21b;
}
.block--info a.dark {
  color: #fbd21b;
}
.block--info a.dark:hover, .block--info a.dark:active {
  color: white;
}
.block--info .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: #2da19d;
  background-color: white;
  border: white solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--info .btn_default:hover, .block--info .btn_default:active {
  color: white;
  background-color: transparent;
}
.block--info .btn_second {
  padding: 5px 10px;
  color: #2da19d;
  background-color: #fcdc4d;
  border: #fcdc4d solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--info .btn_second:hover, .block--info .btn_second:active {
  color: #fcdc4d;
  background-color: transparent;
}

.block--dark--alt {
  background-color: #323031;
  padding: 25px 25px;
}
.block--dark--alt * {
  text-decoration: none;
  color: white;
}
.block--dark--alt a {
  color: #c20114;
  transition: 0.5s;
}
.block--dark--alt a:hover, .block--dark--alt a:active {
  color: white;
}
.block--dark--alt a.rev {
  color: white;
  transition: 0.5s;
}
.block--dark--alt a.rev:hover, .block--dark--alt a.rev:active {
  color: #c20114;
}
.block--dark--alt a.alt-dark {
  color: white;
}
.block--dark--alt a.alt-dark:hover, .block--dark--alt a.alt-dark:active {
  color: #8f010f;
}
.block--dark--alt a.dark {
  color: #8f010f;
}
.block--dark--alt a.dark:hover, .block--dark--alt a.dark:active {
  color: white;
}
.block--dark--alt .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: #323031;
  background-color: white;
  border: white solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--dark--alt .btn_default:hover, .block--dark--alt .btn_default:active {
  color: white;
  background-color: transparent;
}
.block--dark--alt .btn_second {
  padding: 5px 10px;
  color: #323031;
  background-color: #c20114;
  border: #c20114 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--dark--alt .btn_second:hover, .block--dark--alt .btn_second:active {
  color: #c20114;
  background-color: transparent;
}

.block--disabled {
  background-color: white;
  padding: 25px 25px;
}
.block--disabled * {
  text-decoration: none;
  color: #736e71;
}
.block--disabled a {
  color: #323031;
  transition: 0.5s;
}
.block--disabled a:hover, .block--disabled a:active {
  color: #736e71;
}
.block--disabled a.rev {
  color: #736e71;
  transition: 0.5s;
}
.block--disabled a.rev:hover, .block--disabled a.rev:active {
  color: #323031;
}
.block--disabled a.alt-dark {
  color: #736e71;
}
.block--disabled a.alt-dark:hover, .block--disabled a.alt-dark:active {
  color: #181718;
}
.block--disabled a.dark {
  color: #181718;
}
.block--disabled a.dark:hover, .block--disabled a.dark:active {
  color: #736e71;
}
.block--disabled .btn_default {
  padding: 5px 10px;
  display: inline-block;
  color: white;
  background-color: #736e71;
  border: #736e71 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
}
.block--disabled .btn_default:hover, .block--disabled .btn_default:active {
  color: #736e71;
  background-color: transparent;
}
.block--disabled .btn_second {
  padding: 5px 10px;
  color: white;
  background-color: #323031;
  border: #323031 solid 2px;
  transition: 0.5s;
  border-radius: 5px;
  display: inline-block;
}
.block--disabled .btn_second:hover, .block--disabled .btn_second:active {
  color: #323031;
  background-color: transparent;
}

.block--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 10px 25px !important;
  width: 100%;
}

.border--dark {
  border: solid #323031;
}

.border-top--dark {
  border-top: solid #323031;
}

.border-bottom--dark {
  border-bottom: solid #323031;
}

.border-left--dark {
  border-left: solid #323031;
}

.border-right--dark {
  border-right: solid #323031;
}

.border--info {
  border: solid #2da19d;
}

.border-top--info {
  border-top: solid #2da19d;
}

.border-bottom--info {
  border-bottom: solid #2da19d;
}

.border-left--info {
  border-left: solid #2da19d;
}

.border-right--info {
  border-right: solid #2da19d;
}

.border--disabled {
  border: solid #736e71;
}

.border-top--disabled {
  border-top: solid #736e71;
}

.border-bottom--disabled {
  border-bottom: solid #736e71;
}

.border-left--disabled {
  border-left: solid #736e71;
}

.border-right--disabled {
  border-right: solid #736e71;
}

.border--rounded {
  border-radius: 5px;
}

.table--dark {
  margin: 0 0 20px 0;
}
.table--dark .table__item {
  display: flex;
  flex-wrap: wrap;
  background: rgba(50, 48, 49, 0.2);
  border-bottom: 2px solid #fcdc4d;
}
.table--dark .table__item__col {
  padding: 5px 5px;
  color: #fcdc4d !important;
  border-right: 2px solid #fcdc4d;
}
.table--dark .table__item__col:nth-child(odd) {
  background: #323031;
}
.table--dark .table__item__col:last-child {
  border-right: none;
}
.table--dark .table__item__col.link-item:hover {
  color: white !important;
}
.table--dark .table__item__col.grow-item {
  flex-grow: 1;
}
.table--dark .table__item:last-child {
  border-bottom: none;
}
.table--dark .table__item {
  background: rgba(50, 48, 49, 0.8);
}

.table--special,
.table {
  margin: 0 0 20px 0;
}
.table--special .table__item,
.table .table__item {
  display: flex;
  flex-wrap: wrap;
  background: rgba(50, 48, 49, 0.2);
  border-bottom: 2px solid #323031;
}
.table--special .table__item__col,
.table .table__item__col {
  padding: 5px 5px;
  color: #323031 !important;
  border-right: 2px solid #323031;
}
.table--special .table__item__col:nth-child(odd),
.table .table__item__col:nth-child(odd) {
  background: rgba(50, 48, 49, 0.2);
}
.table--special .table__item__col:last-child,
.table .table__item__col:last-child {
  border-right: none;
}
.table--special .table__item__col.link-item:hover,
.table .table__item__col.link-item:hover {
  color: #c20114 !important;
}
.table--special .table__item__col.grow-item,
.table .table__item__col.grow-item {
  flex-grow: 1;
}
.table--special .table__item:last-child,
.table .table__item:last-child {
  border-bottom: none;
}
.table--special .table__item,
.table .table__item {
  background: white;
}

.table--rounded .table__item:first-child {
  border-radius: 5px 5px 0 0;
}
.table--rounded .table__item:first-child .table__item__col:first-child {
  border-radius: 5px 0 0 0;
}
.table--rounded .table__item:first-child .table__item__col:last-child {
  border-radius: 0 5px 0 0;
}
.table--rounded .table__item:last-child {
  border-radius: 0 0 5px 5px;
}
.table--rounded .table__item:last-child .table__item__col:first-child {
  border-radius: 0 0 0 5px;
}
.table--rounded .table__item:last-child .table__item__col:last-child {
  border-radius: 0 0 5px 0;
}

.mod-tbl-classname {
  width: 130px;
}

.adm-tbl-modname {
  width: 180px;
}

.mod-tbl-amount {
  width: 80px;
}

.col-1 {
  width: calc((100% / 12) * 1);
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-3 {
  width: calc((100% / 12) * 3);
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-9 {
  width: calc((100% / 12) * 9);
}

.col-10 {
  width: calc((100% / 12) * 10);
}

.col-11 {
  width: calc((100% / 12) * 11);
}

.col-12 {
  width: calc((100% / 12) * 12);
}

.col-35 {
  width: 29.1666666667%;
}

.col-38 {
  width: 31.6666666667%;
}

.col-58 {
  width: 48.3333333333%;
}

.form--accent input[type=text], .form--accent input[type=email], .form--accent input[type=password], .form--accent textarea, .form--accent select {
  background: #fcdc4d;
  border: #323031 2px solid;
  color: #323031;
  padding: 5px 10px;
  outline: none;
  transition: 0.3s;
}
.form--accent input[type=text]:hover, .form--accent input[type=text]:focus, .form--accent input[type=email]:hover, .form--accent input[type=email]:focus, .form--accent input[type=password]:hover, .form--accent input[type=password]:focus, .form--accent textarea:hover, .form--accent textarea:focus, .form--accent select:hover, .form--accent select:focus {
  -webkit-box-shadow: inset 4px 0px 0px 0px #323031;
  box-shadow: inset 4px 0px 0px 0px #323031;
}
.form--accent input[type=text]::placeholder, .form--accent input[type=email]::placeholder, .form--accent input[type=password]::placeholder, .form--accent textarea::placeholder, .form--accent select::placeholder {
  color: #323031;
  opacity: 0.8;
}
.form--accent input[type=text]:focus, .form--accent input[type=email]:focus, .form--accent input[type=password]:focus, .form--accent textarea:focus, .form--accent select:focus {
  border: #323031 2px solid;
}
.form--accent textarea {
  resize: vertical;
  min-height: 200px;
}

.form input[type=text], .form input[type=email], .form input[type=password], .form textarea, .form select {
  background: white;
  border: #323031 2px solid;
  color: #323031;
  padding: 5px 10px;
  outline: none;
  transition: 0.3s;
}
.form input[type=text]:hover, .form input[type=text]:focus, .form input[type=email]:hover, .form input[type=email]:focus, .form input[type=password]:hover, .form input[type=password]:focus, .form textarea:hover, .form textarea:focus, .form select:hover, .form select:focus {
  -webkit-box-shadow: inset 4px 0px 0px 0px #323031;
  box-shadow: inset 4px 0px 0px 0px #323031;
}
.form input[type=text]::placeholder, .form input[type=email]::placeholder, .form input[type=password]::placeholder, .form textarea::placeholder, .form select::placeholder {
  color: #323031;
  opacity: 0.8;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form input[type=password]:focus, .form textarea:focus, .form select:focus {
  border: #323031 2px solid;
}
.form textarea {
  resize: vertical;
  min-height: 200px;
}

.form--main input[type=text], .form--main input[type=email], .form--main input[type=password], .form--main textarea, .form--main select {
  background: white;
  border: #323031 2px solid;
  color: #323031;
  padding: 5px 10px;
  outline: none;
  transition: 0.3s;
}
.form--main input[type=text]:hover, .form--main input[type=text]:focus, .form--main input[type=email]:hover, .form--main input[type=email]:focus, .form--main input[type=password]:hover, .form--main input[type=password]:focus, .form--main textarea:hover, .form--main textarea:focus, .form--main select:hover, .form--main select:focus {
  -webkit-box-shadow: inset 4px 0px 0px 0px #323031;
  box-shadow: inset 4px 0px 0px 0px #323031;
}
.form--main input[type=text]::placeholder, .form--main input[type=email]::placeholder, .form--main input[type=password]::placeholder, .form--main textarea::placeholder, .form--main select::placeholder {
  color: #323031;
  opacity: 0.8;
}
.form--main input[type=text]:focus, .form--main input[type=email]:focus, .form--main input[type=password]:focus, .form--main textarea:focus, .form--main select:focus {
  border: #323031 2px solid;
}
.form--main textarea {
  resize: vertical;
  min-height: 200px;
}

.form--rounded input[type=text],
.form--rounded input[type=email],
.form--rounded input[type=password],
.form--rounded select,
.form--rounded textarea {
  border-radius: 5px;
}

a.table__item__col.adm-tbl-short {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
